*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    background-image: url('./admin.jpg');
    background-size: cover;
    
}
.container{
    max-width: 700px;
    width: 100%;
    background: rgba(228, 226, 226, 0);
    padding: 25px 30px;
    border-radius:30px;
    
}
.container  .title{
    font-size: 35px;
    font-weight: 600;
    position: relative;
    color: rgb(130, 130, 202);
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 30px;
    background: linear-gradient(rgb(5, 11, 205), white,rgb(23, 197, 232));
    

}
.container form .user-information{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px;
}
form .user-information .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    

}
.user-information .input-box input{
    height: 35px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid rgb(223, 212, 212);
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px ;
    
}
.user-information .input-box .detail{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(214, 197, 197);
    font-size: 25px;
    
}
form  .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form  .gender-details  .category{
    display: flex;
    width: 80%;
    justify-content:  space-between;
    margin: 14px 0;
    font-size: 20px;
    font-weight: 500;

}
.gender-details  .category label{
    display: flex;
    align-items: center;
}
.gender-details  .category label  .dot-one{
    height: 18px;
    width: 18px;
    background: transparent;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
 form  .button{
    height: 45px;
    width: 45px 0 ;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: rgb(22, 20, 20);
    background: linear-gradient(rgb(134, 128, 223),rgb(192, 132, 220));
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 2px;

}

form .button input:hover{
    background: linear-gradient(-135deg,#90bae5,#97d4dc);
}
.link2{
    color: rgb(235, 242, 247);
    font-size: 30px;
    padding: 20px;
    margin: 10px;
    font-weight: 500;
}
.Login{
    color: rgb(175, 209, 41);
}
.gender{
    color: aliceblue;
    font-size: 20;
    font-weight: 500;
}
.link1{
    color: white;
    font-size: 20px;
    font-weight: 400;
}